<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!--socket connect-->
    <add key="serverip" value="192.168.43.216"/>
    <add key="host" value="http://localhost"/>
    <add key="port" value="1235"/>
    <add key="heartbeatinteval" value="10"/>
    <add key="packagesize" value ="1024"/>
    <!--log In configure-->
    <add key="userID" value="1"/>
    <add key="userPassword" value="123456"/>
    <add key="isAutoLogin"/>
    <!--Patient Data-->
    <add key ="DataPath" value=""/>
  </appSettings>
  
</configuration>