<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.dao.GynaecologyCaseMapper">
    <select id="findByCaseId" parameterType="String" resultType="web.pojo.medicalCase.GynaecologyCase">
        SELECT * FROM GynaecologyCase WHERE case_id=#{case_id}
    </select>

    <insert id="insertGynaecologyCase" parameterType="web.pojo.medicalCase.GynaecologyCase" useGeneratedKeys="true"  >
        INSERT INTO Gynaecology_case(case_id,status,main_case,present_history,
        past_history,doctor_account_id,date,patient_account_id,personal_case,
        marital_history,menstruation_history,
        bearing_history,family_history,physical_examination)
        VALUES (#{case_id},#{status},
        #{main_case},#{present_history},#{past_history},#{doctor_account_id},
        #{date},#{patient_account_id},#{personal_case},#{marital_history},
        #{menstruation_history},#{bearing_history},
        #{family_history},#{physical_examination})
    </insert>


    <select id="selectGynaecologyCaseByDoctorId" parameterType="String" resultType="String">
        SELECT case_id FROM  GynaecologyCase WHERE doctor_account_id=#{doctor_account_id}
    </select>


    <select id="selectByPatient" parameterType="String" resultType="web.pojo.Patient_account">
        SELECT * FROM Patient_account WHERE patient_account_id=#{patient_account_id}
    </select>


    <select id="selectUndeliveredGynaecologyCase" parameterType="String" resultType="web.pojo.IdAndMtime">
        SELECT case_id,mtime FROM GynaecologyCase WHERE doctor_account_id=#{doctor_account_id} AND status="false"
    </select>

    <update id="updateGynaecologyCaseStatus" parameterType="String">
        UPDATE GynaecologyCase SET status="true" WHERE  case_id=#{case_id}
    </update>


    <select id="selectIdAndMtime" parameterType="String" resultType="web.pojo.IdAndMtime">
        SELECT case_id,mtime FROM GynaecologyCase where doctor_account_id = #{doctor_account_id}
    </select>

    <update id="updateGynaecologyCase" parameterType="web.pojo.medicalCase.GynaecologyCase">
        UPDATE GynaecologyCase SET status=#{status},
        main_case=#{main_case},present_history=#{present_history},past_history=#{past_history},
        personal_case=#{personal_case},marital_history=#{marital_history},
        menstruation_history=#{menstruation_history},bearing_history=#{bearing_history},
        family_history=#{family_history},physical_examination=#{physical_examination},
        is_submit=#{is_submit},mtime=#{mtime}
        WHERE case_id=#{case_id}
    </update>




    <!--<resultMap id="IdAndMtime" type="web.pojo.IdAndMtime">-->
        <!--<result property="case_id" column="case_id"/>-->
        <!--<result property="mtime" column="mtime"/>-->
    <!--</resultMap>-->


    <resultMap id="patientResultMap" type="web.pojo.medicalCase.GynaecologyCase">
        <id property="id" column="case_id"/>
        <result property="patient_account_id" column="patient_account_id"/>
        <result property="doctor_account_id" column="doctor_account_id"/>
        <result property="file_path" column="file_path"/>
        <association property="Patient_account" column="patient_name"
                     javaType="web.pojo.Patient_account" select="selectByPatient"/>
    </resultMap>

    <resultMap id="doctorResultMap" type="web.pojo.medicalCase.GynaecologyCase">
        <id property="id" column="case_id"/>
        <result property="patient_account_id" column="patient_account_id"/>
        <result property="doctor_account_id" column="doctor_account_id"/>
        <result property="file_path" column="file_path"/>
        <association property="Doctor_account" column="doctor_name"
                     javaType="web.pojo.Patient_account" select="selectByPatient"/>
    </resultMap>


</mapper>