<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="example.dao.doctor_accountMapper">

    <select id="loginResponse"  resultType="example.pojo.doctor_account">
        SELECT * FROM doctor_account WHERE doctor_name=#{userName}and doctor_password=#{userPassword}
    </select>
    <!--<resultMap id="medicalCaseResultMap" type="example.pojo.doctor_account">-->
        <!--<id property="id" column="doctor_account_id"/>-->
        <!--<collection property="medical_caselist" javaType="ArrayList"-->
         <!--column="id" ofType="example.pojo.medical_case"-->
          <!--select="selectCaseByDoctoId"   />-->
    <!--</resultMap>-->


</mapper>