<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="example.dao.medical_caseMapper">

    <select id="refreshDir" parameterType="String" resultType="example.pojo.medical_case">
        SELECT * FROM medical_case WHERE doctor_account_id=#{doctor_account_id}
    </select>

    <update id="updateResponse" >
      UPDATE medical_case
      SET file_path=#{file_path}
      WHERE patient_account_id=#{patient_account_id}and doctor_account_id=#{doctor_account_id}
    </update>


    <update id="refreshRrportStst" >
        UPDATE medical_case
        SET status=#{status}
        WHERE case_id=#{case_id}
    </update>

    <select id="refreshContent" parameterType="String" resultType="example.pojo.medical_case">
        SELECT * FROM medical_case WHERE patient_account_id=#{patient_account_id}
    </select>

    <select id="selectByCaseId" parameterType="String" resultType="example.pojo.medical_case">
        SELECT * FROM medical_case WHERE case_id=#{case_id}
    </select>

    <select id="checkAppState"  resultType="example.pojo.medical_case">
        SELECT * FROM medical_case WHERE doctor_account_id=#{doctor_account_id}AND status=#{status}
    </select>
</mapper>